.login-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ecf0f1;
    width: 500px;
    height: 457px;
    margin: 100px 440px 100px 440px;
    position: absolute;
    border-radius: 10px;
    box-shadow: 1px 3px #8c968f;
}

.Header-login{
    text-align: center;
    background: rgba(99, 168, 249, 0.69);
    position: absolute;
    top: 0;
    width: 500px;
    height: 80px;
    border-radius: 10px 10px 0 0;
    padding-top: 2px;
}

.input-login{
    padding: 24px 20px;
    margin-top: 28px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
    height: 40px;
    width: 340px;
}

.btn-login{
    background-color: rgba(99, 168, 249, 0.69);
    color: white;
    padding: 18px 20px;
    margin-top: 100px;
    width: 50%;
    border-radius: 10px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44%;
    height: 30px;
    box-shadow: 1px 3px #8c968f;
}